<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="shortcut icon" href="/icons/3d-casual-life-nft-music.png" type="image/x-icon"> 
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 style="text-align: center;">welcome to home page</h1>

    <div><img src="../assets/icons/télécharger.jpeg" alt="gsbvsf">tser</div>
</body>
</html>